<launch>
    <arg name="model" value="$(find simulation)/urdf/board_arm.urdf.xacro"/>
    <arg name="link_length" value="$(eval (0.25 * 5 * sqrt(2) - 0.05) / 2)"/>

    <param name="link_length" type="double" value="$(arg link_length)"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model) link_length:=$(arg link_length)"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find simulation)/worlds/board_arm.world"/>
    </include>
    <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" args="-urdf -model board_arm -param robot_description" output="screen"/>
</launch>
